<div class="container">
  <p>Quick Access:</p>
  <button routerLink="login">Login</button>
  <button routerLink="profile/4">Profile</button>
  <button routerLink="/register">Register</button>
  <button routerLink="/profile/4/website">Website List</button>
  <button routerLink="/profile/4/website/new">Website New</button>
  <button routerLink="/profile/4/website/4">Website Edit</button>
  <button routerLink="/profile/4/website/4/page">Page List</button>
  <button routerLink="/profile/4/website/4/page/new">Page New</button>
  <button routerLink="/profile/4/website/4/page/3">Page Edit</button>
  <button routerLink="/profile/4/website/4/page/3/widget">Widget List</button>
  <button routerLink="/profile/4/website/4/page/3/widget/new">Widget Chooser</button>
  <button routerLink="/profile/4/website/4/page/3/widget/2">Heading</button>
  <button routerLink="/profile/4/website/4/page/3/widget/3">Image</button>
  <button routerLink="/profile/4/website/4/page/3/widget/6">Youtube</button>
  <br/>
</div>

<router-outlet></router-outlet>
