<div class="container">
  <p>Quick Access:</p>
  <p>These links are for user with username "alice" and password "alice". Log in before using these links :)</p>
  <button routerLink="/login">Login</button>
  <button routerLink="/profile/5abe869df36d287dbca40a85">Profile</button>
  <button routerLink="/register">Register</button>
  <button routerLink="/profile/website">Website List</button>
  <button routerLink="/profile/website/new">Website New</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97">Website Edit</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97/page">Page List</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97/page/new">Page New</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97/page/5acd1d34d711e10004647e9b">Page Edit</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97/page/5acd1d34d711e10004647e9b/widget">Widget List</button>
  <button routerLink="/profile/website/5acd1d05d711e10004647e97/page/5acd1d34d711e10004647e9b/widget/new">Widget Chooser</button>
  <br/>
</div>

<router-outlet></router-outlet>
